$color-principal: #BFF205;
$color-secundario: #01141B;
$color-terciario: white;


.contactoMargin{margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;}
.mail{color: white;}
.nombre{color: white;}
form{display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
padding-top: 100px;
padding-bottom: 100px;}
input{ margin-left: 7px;
    margin-right: 7px;}
.contacto-main{padding-top: 245px;
    padding-bottom: 245px;}
.contatoh1{color: $color-principal;
    font-weight: bold;
padding-bottom: 20px;}