$color-principal: #BFF205;
$color-secundario: #01141B;
$color-terciario: white;


.slide{margin-left: 20px;
    margin-right: 20px;
    border: solid $color-principal 3px;}

.galeria-main{padding-bottom: 20px;}